### Constraints for MPMC on Spartan-E 1600K Industrial Micromodule, 01BM

##############################################################################################################
### Calibration Circuit Constraints
#############################################################################################################
## Placement constraints for LUTS in tap delay ckt
#############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l0" RLOC=X0Y6;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l0" U_SET = delay_calibration_chain;
  INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l1" RLOC=X0Y6;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l1" U_SET = delay_calibration_chain;
  INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l2" RLOC=X0Y7;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l2" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l3" RLOC=X0Y7;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l3" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l4" RLOC=X1Y6;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l4" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l5" RLOC=X1Y6;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l5" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l6" RLOC=X1Y7;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l6" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l7" RLOC=X1Y7;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l7" U_SET = delay_calibration_chain;
   INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l8" RLOC=X0Y4;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l8" U_SET = delay_calibration_chain;
  INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l9" RLOC=X0Y4;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l9" U_SET = delay_calibration_chain;
  INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l10" RLOC=X0Y5;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l10" U_SET = delay_calibration_chain;
  INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l11" RLOC=X0Y5;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l11" U_SET = delay_calibration_chain;
  INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l12" RLOC=X1Y4;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l12" U_SET = delay_calibration_chain;
  INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l13" RLOC=X1Y4;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l13" U_SET = delay_calibration_chain;
  INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l14" RLOC=X1Y5;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l14" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l15" RLOC=X1Y5;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l15" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l16" RLOC=X0Y2;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l16" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l17" RLOC=X0Y2;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l17" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l18" RLOC=X0Y3;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l18" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l19" RLOC=X0Y3;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l19" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l20" RLOC=X1Y2;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l20" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l21" RLOC=X1Y2;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l21" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l22" RLOC=X1Y3;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l22" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l23" RLOC=X1Y3;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l23" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l24" RLOC=X0Y0;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l24" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l25" RLOC=X0Y0;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l25" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l26" RLOC=X0Y1;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l26" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l27" RLOC=X0Y1;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l27" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l28" RLOC=X1Y0;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l28" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l29" RLOC=X1Y0;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l29" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l30" RLOC=X1Y1;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l30" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l31" RLOC=X1Y1;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l31" U_SET = delay_calibration_chain;

#################################################################################################################
# Placement constraints for first stage flops in tap delay ckt
#################################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[0].r" RLOC=X0Y6;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[0].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[1].r" RLOC=X0Y6;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[1].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[2].r" RLOC=X0Y7;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[2].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[3].r" RLOC=X0Y7;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[3].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[4].r" RLOC=X1Y6;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[4].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[5].r" RLOC=X1Y6;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[5].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[6].r" RLOC=X1Y7;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[6].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[7].r" RLOC=X1Y7;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[7].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[8].r" RLOC=X0Y4;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[8].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[9].r" RLOC=X0Y4;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[9].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[10].r" RLOC=X0Y5;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[10].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[11].r" RLOC=X0Y5;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[11].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[12].r" RLOC=X1Y4;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[12].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[13].r" RLOC=X1Y4;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[13].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[14].r" RLOC=X1Y5;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[14].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[15].r" RLOC=X1Y5;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[15].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[16].r" RLOC=X0Y2;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[16].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[17].r" RLOC=X0Y2;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[17].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[18].r" RLOC=X0Y3;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[18].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[19].r" RLOC=X0Y3;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[19].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[20].r" RLOC=X1Y2;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[20].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[21].r" RLOC=X1Y2;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[21].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[22].r" RLOC=X1Y3;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[22].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[23].r" RLOC=X1Y3;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[23].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[24].r" RLOC=X0Y0;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[24].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[25].r" RLOC=X0Y0;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[25].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[26].r" RLOC=X0Y1;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[26].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[27].r" RLOC=X0Y1;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[27].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[28].r" RLOC=X1Y0;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[28].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[29].r" RLOC=X1Y0;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[29].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[30].r" RLOC=X1Y1;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[30].r" U_SET = delay_calibration_chain;

INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[31].r" RLOC=X1Y1;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.gen_tap1[31].r" U_SET = delay_calibration_chain;

#####################################################################################################################
## BEL constraints for LUTS in tap delay ckt
#####################################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l0"  BEL= G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l1"  BEL= F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l2"  BEL= G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l3"  BEL= F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l4"  BEL= G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l5"  BEL= F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l6"  BEL= G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l7"  BEL= F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l8"  BEL= G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l9"  BEL= F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l10" BEL= G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l11" BEL= F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l12" BEL= G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l13" BEL= F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l14" BEL= G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l15" BEL= F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l16" BEL= G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l17" BEL= F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l18" BEL= G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l19" BEL= F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l20" BEL= G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l21" BEL= F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l22" BEL= G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l23" BEL= F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l24" BEL= G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l25" BEL= F;  
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l26" BEL= G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l27" BEL= F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l28" BEL= G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l29" BEL= F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l30" BEL= G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l31" BEL= F;



##############################################################################################################
## RLOC Origin constraint for LUT delay calibration chain.
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/gen_no_sim.l0" RLOC_ORIGIN = X52Y130;

##############################################################################################################
## Area Group Constraint For tap_dly and cal_ctl module.
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/cal_ctl*" AREA_GROUP = cal_ctl;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly*" AREA_GROUP = cal_ctl;
AREA_GROUP "cal_ctl" RANGE = SLICE_X52Y130:SLICE_X63Y143;
AREA_GROUP "cal_ctl" GROUP = CLOSED;

##############################################################################################################
##############################################################################################################
## MAXDELAY constraints
##############################################################################################################

##############################################################################################################
## Constraint to have the tap delay inverter connection wire length to be the same and minimum to get
## accurate calibration of tap delays. The following constraints are independent of frequency.
##############################################################################################################
NET "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/tap[7]"  MAXDELAY = 400 ps;
NET "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/tap[15]"  MAXDELAY = 400 ps;
NET "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/infrastructure/cal_top/tap_dly/tap[23]"  MAXDELAY = 400 ps;

##############################################################################################################
## MAXDELAY constraint on inter LUT delay elements. This constraint is required to minimize the 
## wire delays between the LUTs.
##############################################################################################################
NET "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[*]*u_dqs_delay_col*/delay*"  MAXDELAY = 200 ps;
NET "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/.rst_dqs_div_delayed/delay*"  MAXDELAY = 200 ps;

##############################################################################################################
## Constraint from the dqs PAD to input of LUT delay element.
##############################################################################################################
NET "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/dqs_int_delay_in*" MAXDELAY = 550 ps; #550increased from 470 ps

##############################################################################################################
## Constraint from rst_dqs_div_in PAD to input of LUT delay element.
##############################################################################################################
NET "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/dqs_div_rst" MAXDELAY = 460 ps;

##############################################################################################################
## Following are the MAXDELAY constraints on delayed rst_dqs_div net and fifo write enable signals.
## These constraints are required since these paths are not covered by timing analysis. The requirement is total
## delay on delayed rst_dqs_div and fifo_wr_en nets should not exceed the clock period.
##############################################################################################################
NET "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/rst_dqs_div"  MAXDELAY = 3007 ps;
NET "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/fifo*_wr_en*"                    MAXDELAY = 3007 ps;

##############################################################################################################
## The MAXDELAY value on fifo write address should be less than clock period. This constraint is 
## required since this path is not covered by timing analysis.
##############################################################################################################
NET "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/fifo*_wr_addr_out*"           MAXDELAY = 6390 ps;

##############################################################################################################

##############################################################################################################
##  constraints for bit fpga_0_DDR_SDRAM_DDR_DQ, 0, location in tile: 0
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[0]*strobe0/gen_data[0]*u_fifo_bit" LOC = SLICE_X114Y104;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[0]*strobe0_n/gen_data[0]*u_fifo_bit" LOC = SLICE_X114Y105;

##############################################################################################################
##  constraints for bit fpga_0_DDR_SDRAM_DDR_DQ, 1, location in tile: 0
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[0]*strobe0/gen_data[1]*u_fifo_bit" LOC = SLICE_X112Y104;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[0]*strobe0_n/gen_data[1]*u_fifo_bit" LOC = SLICE_X112Y105;

##############################################################################################################
##  constraints for bit fpga_0_DDR_SDRAM_DDR_DQ, 2, location in tile: 0
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[0]*strobe0/gen_data[2]*u_fifo_bit" LOC = SLICE_X114Y100;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[0]*strobe0_n/gen_data[2]*u_fifo_bit" LOC = SLICE_X114Y101;

##############################################################################################################
##  constraints for bit fpga_0_DDR_SDRAM_DDR_DQ, 3, location in tile: 0
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[0]*strobe0/gen_data[3]*u_fifo_bit" LOC = SLICE_X112Y100;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[0]*strobe0_n/gen_data[3]*u_fifo_bit" LOC = SLICE_X112Y101;

##############################################################################################################
##  constraints for bit fpga_0_DDR_SDRAM_DDR_DQS, 0, location in tile: 0
##############################################################################################################

##############################################################################################################
## LUT location constraints for dqs_delayed_col1
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col1/gen_delay.one" LOC = SLICE_X114Y97;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col1/gen_delay.one" BEL = F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col1/gen_delay.two" LOC = SLICE_X114Y97;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col1/gen_delay.two" BEL = G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col1/gen_delay.three" LOC = SLICE_X114Y96;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col1/gen_delay.three" BEL = G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col1/gen_delay.four" LOC = SLICE_X114Y96;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col1/gen_delay.four" BEL = F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col1/gen_delay.five" LOC = SLICE_X115Y97;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col1/gen_delay.five" BEL = G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col1/gen_delay.six" LOC = SLICE_X115Y96;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col1/gen_delay.six" BEL = G;

##############################################################################################################
## LUT location constraints for dqs_delayed_col0
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col0/gen_delay.one" LOC = SLICE_X112Y97;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col0/gen_delay.one" BEL = F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col0/gen_delay.two" LOC = SLICE_X112Y97;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col0/gen_delay.two" BEL = G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col0/gen_delay.three" LOC = SLICE_X112Y96;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col0/gen_delay.three" BEL = G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col0/gen_delay.four" LOC = SLICE_X112Y96;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col0/gen_delay.four" BEL = F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col0/gen_delay.five" LOC = SLICE_X113Y97;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col0/gen_delay.five" BEL = G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col0/gen_delay.six" LOC = SLICE_X113Y96;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[0]*u_dqs_delay_col0/gen_delay.six" BEL = G;

##############################################################################################################
## Slice location constraints for Fifo write address and write enable
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_wr_addr[0].u_fifo_0_wr_addr/gen_addr[0].u_addr_bit" LOC = SLICE_X115Y100;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_wr_addr[0].u_fifo_0_wr_addr/gen_addr[1].u_addr_bit" LOC = SLICE_X115Y100;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_wr_addr[0].u_fifo_0_wr_addr/gen_addr[2].u_addr_bit" LOC = SLICE_X115Y101;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_wr_addr[0].u_fifo_0_wr_addr/gen_addr[3].u_addr_bit" LOC = SLICE_X115Y101;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_wr_addr[0].u_fifo_1_wr_addr/gen_addr[0].u_addr_bit" LOC = SLICE_X113Y100;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_wr_addr[0].u_fifo_1_wr_addr/gen_addr[1].u_addr_bit" LOC = SLICE_X113Y100;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_wr_addr[0].u_fifo_1_wr_addr/gen_addr[2].u_addr_bit" LOC = SLICE_X113Y101;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_wr_addr[0].u_fifo_1_wr_addr/gen_addr[3].u_addr_bit" LOC = SLICE_X113Y101;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_wr[0].u_fifo_0_wr_en/*" LOC = SLICE_X115Y99;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_wr[0].u_fifo_1_wr_en/*" LOC = SLICE_X113Y99;

##############################################################################################################
##  constraints for bit fpga_0_DDR_SDRAM_DDR_DQ, 4, location in tile: 0
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[0]*strobe0/gen_data[4]*u_fifo_bit" LOC = SLICE_X114Y92;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[0]*strobe0_n/gen_data[4]*u_fifo_bit" LOC = SLICE_X114Y93;

##############################################################################################################
##  constraints for bit fpga_0_DDR_SDRAM_DDR_DQ, 5, location in tile: 0
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[0]*strobe0/gen_data[5]*u_fifo_bit" LOC = SLICE_X112Y92;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[0]*strobe0_n/gen_data[5]*u_fifo_bit" LOC = SLICE_X112Y93;

##############################################################################################################
##  constraints for bit fpga_0_DDR_SDRAM_DDR_DQ, 6, location in tile: 0
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[0]*strobe0/gen_data[6]*u_fifo_bit" LOC = SLICE_X114Y88;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[0]*strobe0_n/gen_data[6]*u_fifo_bit" LOC = SLICE_X114Y89;

##############################################################################################################
##  constraints for bit fpga_0_DDR_SDRAM_DDR_DQ, 7, location in tile: 0
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[0]*strobe0/gen_data[7]*u_fifo_bit" LOC = SLICE_X112Y88;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[0]*strobe0_n/gen_data[7]*u_fifo_bit" LOC = SLICE_X112Y89;

##############################################################################################################
##  constraints for bit fpga_0_DDR_SDRAM_DDR_DQ, 8, location in tile: 0
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[1]*strobe0/gen_data[0]*u_fifo_bit" LOC = SLICE_X114Y80;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[1]*strobe0_n/gen_data[0]*u_fifo_bit" LOC = SLICE_X114Y81;

##############################################################################################################
##  constraints for bit fpga_0_DDR_SDRAM_DDR_DQ, 9, location in tile: 0
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[1]*strobe0/gen_data[1]*u_fifo_bit" LOC = SLICE_X112Y80;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[1]*strobe0_n/gen_data[1]*u_fifo_bit" LOC = SLICE_X112Y81;

##############################################################################################################
##  constraints for bit fpga_0_DDR_SDRAM_DDR_DQ, 10, location in tile: 0
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[1]*strobe0/gen_data[2]*u_fifo_bit" LOC = SLICE_X114Y76;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[1]*strobe0_n/gen_data[2]*u_fifo_bit" LOC = SLICE_X114Y77;

##############################################################################################################
##  constraints for bit fpga_0_DDR_SDRAM_DDR_DQ, 11, location in tile: 0
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[1]*strobe0/gen_data[3]*u_fifo_bit" LOC = SLICE_X112Y76;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[1]*strobe0_n/gen_data[3]*u_fifo_bit" LOC = SLICE_X112Y77;

##############################################################################################################
##  constraints for bit fpga_0_DDR_SDRAM_DDR_DQS, 1, location in tile: 0
##############################################################################################################

##############################################################################################################
## LUT location constraints for dqs_delayed_col1
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col1/gen_delay.one" LOC = SLICE_X114Y73;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col1/gen_delay.one" BEL = F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col1/gen_delay.two" LOC = SLICE_X114Y73;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col1/gen_delay.two" BEL = G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col1/gen_delay.three" LOC = SLICE_X114Y72;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col1/gen_delay.three" BEL = G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col1/gen_delay.four" LOC = SLICE_X114Y72;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col1/gen_delay.four" BEL = F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col1/gen_delay.five" LOC = SLICE_X115Y73;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col1/gen_delay.five" BEL = G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col1/gen_delay.six" LOC = SLICE_X115Y72;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col1/gen_delay.six" BEL = G;

##############################################################################################################
## LUT location constraints for dqs_delayed_col0
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col0/gen_delay.one" LOC = SLICE_X112Y73;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col0/gen_delay.one" BEL = F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col0/gen_delay.two" LOC = SLICE_X112Y73;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col0/gen_delay.two" BEL = G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col0/gen_delay.three" LOC = SLICE_X112Y72;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col0/gen_delay.three" BEL = G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col0/gen_delay.four" LOC = SLICE_X112Y72;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col0/gen_delay.four" BEL = F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col0/gen_delay.five" LOC = SLICE_X113Y73;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col0/gen_delay.five" BEL = G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col0/gen_delay.six" LOC = SLICE_X113Y72;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_dqs[1]*u_dqs_delay_col0/gen_delay.six" BEL = G;

##############################################################################################################
## Slice location constraints for Fifo write address and write enable
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_wr_addr[1].u_fifo_0_wr_addr/gen_addr[0].u_addr_bit" LOC = SLICE_X115Y76;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_wr_addr[1].u_fifo_0_wr_addr/gen_addr[1].u_addr_bit" LOC = SLICE_X115Y76;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_wr_addr[1].u_fifo_0_wr_addr/gen_addr[2].u_addr_bit" LOC = SLICE_X115Y77;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_wr_addr[1].u_fifo_0_wr_addr/gen_addr[3].u_addr_bit" LOC = SLICE_X115Y77;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_wr_addr[1].u_fifo_1_wr_addr/gen_addr[0].u_addr_bit" LOC = SLICE_X113Y76;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_wr_addr[1].u_fifo_1_wr_addr/gen_addr[1].u_addr_bit" LOC = SLICE_X113Y76;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_wr_addr[1].u_fifo_1_wr_addr/gen_addr[2].u_addr_bit" LOC = SLICE_X113Y77;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_wr_addr[1].u_fifo_1_wr_addr/gen_addr[3].u_addr_bit" LOC = SLICE_X113Y77;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_wr[1].u_fifo_0_wr_en/*" LOC = SLICE_X115Y75;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/gen_wr[1].u_fifo_1_wr_en/*" LOC = SLICE_X113Y75;

##############################################################################################################
##  constraints for bit fpga_0_DDR_SDRAM_DDR_DQ, 12, location in tile: 0
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[1]*strobe0/gen_data[4]*u_fifo_bit" LOC = SLICE_X114Y68;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[1]*strobe0_n/gen_data[4]*u_fifo_bit" LOC = SLICE_X114Y69;

##############################################################################################################
##  constraints for bit fpga_0_DDR_SDRAM_DDR_DQ, 13, location in tile: 0
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[1]*strobe0/gen_data[5]*u_fifo_bit" LOC = SLICE_X112Y68;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[1]*strobe0_n/gen_data[5]*u_fifo_bit" LOC = SLICE_X112Y69;

##############################################################################################################
##  constraints for bit fpga_0_DDR_SDRAM_DDR_DQ, 15, location in tile: 0
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[1]*strobe0/gen_data[7]*u_fifo_bit" LOC = SLICE_X112Y64;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[1]*strobe0_n/gen_data[7]*u_fifo_bit" LOC = SLICE_X112Y65;

##############################################################################################################
##  constraints for bit fpga_0_DDR_SDRAM_DDR_DQ, 14, location in tile: 0
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[1]*strobe0/gen_data[6]*u_fifo_bit" LOC = SLICE_X114Y60;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read/gen_data[1]*strobe0_n/gen_data[6]*u_fifo_bit" LOC = SLICE_X114Y61;

##############################################################################################################
## Slice location constraints for delayed rst_dqs_div signal
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/.rst_dqs_div_delayed/gen_delay.one" LOC = SLICE_X114Y117;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/.rst_dqs_div_delayed/gen_delay.one" BEL = F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/.rst_dqs_div_delayed/gen_delay.two" LOC = SLICE_X114Y116;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/.rst_dqs_div_delayed/gen_delay.two" BEL = G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/.rst_dqs_div_delayed/gen_delay.three" LOC = SLICE_X114Y117;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/.rst_dqs_div_delayed/gen_delay.three" BEL = G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/.rst_dqs_div_delayed/gen_delay.four" LOC = SLICE_X115Y116;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/.rst_dqs_div_delayed/gen_delay.four" BEL = F;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/.rst_dqs_div_delayed/gen_delay.five" LOC = SLICE_X115Y116;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/.rst_dqs_div_delayed/gen_delay.five" BEL = G;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/.rst_dqs_div_delayed/gen_delay.six" LOC = SLICE_X115Y117;
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/data_path/data_read_controller/.rst_dqs_div_delayed/gen_delay.six" BEL = G;

##############################################################################################################
## Location constraint for rst_dqs_div_r flop in the controller. This is to be placed close the PAD
## that drives the rst_dqs_div _out signal to meet the timing.
##############################################################################################################
INST "*/mpmc_core_0/gen_??_ddr_phy.mpmc_phy_if_0/dqs_div/dqs_rst_ff" LOC = SLICE_X102Y116;
##############################################################################################################

